* {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    
}

.header{
    display: flex;
    flex-direction: column;
    height: 200px;
    border-style: none;
    color: #636262;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

body{

    height: 1vh;
}


.header p{
    font-size: 30px;
    padding-left: 20px;

}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position:fixed;
    border-style: none;
    color: #878787;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    z-index: 10;
    top: 0;
    left: -100%;
    width: 200px;
    background-color: rgb(67, 67, 67);
    transition: 0.75s ease-out;
    height: 100%;
}

.menu a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 15px 20px;
    justify-content: flex-start;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #878787;

}

.navigator{
display: flex;
height: 100px;
border-style: solid;
align-items: center;
background-color: black;
padding-left: 20px;
border-top-color: red;
border-top-width: thick;
}

.close-sidebar-button{
    background-color: black;
    width: 100%;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;

}

.close-sidebar-button a{
    padding-left: 10px;
    color: rgb(186, 186, 186);
    
}

.open-sidebar-button, .close-sidebar-button{
    padding: 20px;
}

#sidebar-active{
    display: none;
}

#sidebar-active:checked ~ .menu{
left: 0;
}

#sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 9;
}


.thumbnail{
    padding: 20px;
    background-image: url(pictures/carding.jpeg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-color: #878787;

}

.thumbnail-2
{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.thumbnail-2 img{
    width: 80%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   

}

.content{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 20px;
    color: white;
    border-style: none;
    background-color: rgba(28, 28, 28, 0.274);
    height: 100%;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 40px;
}

.content-title{
    margin-top: 50px;
}

.description{
    margin-top: 20px;
    color: rgb(38, 255, 0);
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    line-height: 25px;
}

.button{
    background-color: #636262cf;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10%;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.product-categories{
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: center;
    display: flex;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

.stocks{
    background-color: #636262;
    color: rgb(245, 245, 245);
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

footer{
    height: 30px;
    background-color: #e0e0e0;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;

}

